# Wykluczenie folderu z notebookami
notebooks/
RDD2022/
runs/
# Wykluczenie plików wag
*.pth
*.pt
*.ckpt
*.weights
*.h5
*.pb
*.zip
*.jpg
*.xml

# Podstawowe pliki Pythona i systemowe
__pycache__/
*.py[cod]
.env
venv/
.DS_Store
.vscode/